/* Portrait colour pallette

Light blue - rgb(169, 244, 226)
Orange - rgb(244, 154, 51)
Brown hair - rgb(89, 63, 44)
Reddish orange - rgb(219, 86, 31)
Red - rgb(243, 6, 3)

*/

body {
    display: block;
    background-color: rgb(169, 244, 226);
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: helvetica;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

#nav-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(244, 154, 51);
    flex-wrap: wrap;
}

.header-title {
    font-size: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}

.portrait {
    height: 25%;
    width: 25%;
    border: solid;
    border-width: 5px;
    border-color: rgb(219, 86, 31);
    border-radius: 50%;
}

#hero-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#hero-portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 1em;
    margin: 5px;
}

#blog-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 150px 0px 150px;
    text-align: justify;
}

#footer {
    display: flex;
    background-color: rgb(244, 154, 51);
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: center;
}