/* Portrait colour pallette

Light blue - rgb(169, 244, 226)
Orange - rgb(244, 154, 51)
Brown hair - rgb(89, 63, 44)
Reddish orange - rgb(219, 86, 31)
Red - rgb(243, 6, 3)

*/

body {
    display: block;
    background-color: rgb(169, 244, 226);
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: helvetica;
}

h1 {
    font-size: 40px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

a {
    color: black;
    text-decoration: none;
    /* add underline */
}

p {
    
}

ul {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    gap: 5px;
}

#nav-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(244, 154, 51);
    flex-wrap: wrap;
    border-width: 0px 0px 5px 0px;
    border-style: solid;
    border-color: rgb(219, 86, 31);

}

.header-title {
    display: flex;
    font-size: 40px;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
    padding-inline-start: 0px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.portrait {
    height: 25%;
    width: 25%;
    border: solid;
    border-width: 5px;
    border-color: rgb(219, 86, 31);
    border-radius: 50%;
}

#hero-container {
    display: flex;
    flex-direction: column;
}

#hero-portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 1em;
    margin: 5px;
}

#blog-entry {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px 150px 0px 150px;
    text-align: justify;
}

#nav-list-temp {
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 154, 51);
    border-width: 5px 0px 5px 0px;
    border-style: solid;
    border-color: rgb(219, 86, 31);
}

.temp-blog-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding-inline-start: 0px;
}

/*
hr {
    display: flex;
    border-style: groove;
    border-width: 1px;
}
*//*
#footer {
    display: flex;
    background-color: rgb(244, 154, 51);
    position: absolute;
    bottom: 0px;
    width: 100%;
    justify-content: center;
}
*/